.row {
    background-color: #16171a;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
     
}

.row:hover {
    background-color: #131111;
}

.white-text-label label {
    color: white;
}